DATABASE_URL="postgresql://neondb_owner:npg_x0k6nlofOGYK@ep-crimson-leaf-a1nh2y3h.ap-southeast-1.aws.neon.tech/neondb?sslmode=require"
NEXTAUTH_SECRET="REPLACE_WITH_A_LONG_RANDOM_STRING"
NEXTAUTH_URL="http://localhost:3000"
CLOUDINARY_CLOUD_NAME="dd3zanrnd"
CLOUDINARY_API_KEY="299389799436169"
CLOUDINARY_API_SECRET="SqmT3aKnCpsQXEnf2uOqmPhviWA"
